<div class="container theme-showcase new-session-cont">
  <h3 class ="form-signin-heading">Log In</h3>
  <%= form_tag session_path do %>
    <div>
      <%= text_field_tag :email, nil, placeholder: "Email Address", class: "form-control" %>
    </div>
    <div>
       <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
    </div>
  <div class="spacer"></div>
    <div><%= submit_tag "Submit", class: "btn btn-lg btn-default btn-block login-btn", style: "background-color: #C6D166;" %></div>
  <% end %>
</div>
