<%= link_to "Go Back", :back %>
<br>

<div>

  <h3><%= @user.full_name %>'s Profile</h3>

  <h3>Total KMS Hiked: </h3>

  <h4>To-Do Hikes</h4>

  <h4>Completed Hikes</h4>

  <h4>Favourite Hikes</h4>

</div>