<div class="row search-wrapper">
  <div class="container">

    <h3>Filter Hikes</h3>

    <%= form_tag hikes_path, method: "get", id: "search_form" do %>

      <div class="col-xs-12 col-md-6 form-group">
        <%= text_field_tag :search_name, nil, class: "form-control", placeholder: "Enter hike name here..." %>
      </div>

      <div class="col-xs-12 col-md-3 form-group">
        <%= select_tag(:duration, options_for_select([
          ['Any Duration', '0-24'],
          ['An hour or less', '0-1'],
          ['Less than 5 hours', '2-5'],
          ['More than 5 hours', '6-24']
        ]), class: "form-control") %>
      </div>

      <div class="col-xs-12 col-md-3 form-group">
        <%= select_tag(:difficulty, options_for_select([
          ['Easy', '0'],
          ['Medium', '1'],
          ['Hard', '2'],
          ['Extreme', '3']
        ]), include_blank: "Any Difficulty", class: "form-control" ) %>
      </div>

    <% end %>

  </div>
</div>