<div class="container-fluid">

	<div class="row">
		<section class="fixed_map">
			<div id="map"></div>
		</section>
	</div>

	<div class="row">
		<%= render 'search' %>
	</div>


	<div class="row">
		<div class="container">

			<table id="searched_hikes" class="table table-hover tablesorter">
				<thead>
					<tr>
						<th>Hike Name</th>
						<th id="distance_sort">Distance</th>
						<th>Time</th>
						<th>Difficulty</th>
					</tr>
				</thead>
				<tbody>
			  	<%= render @hikes %>
				</tbody>
			</table>
		</div>
	</div>

	<%#= paginate(@hikes) %>
<!-- 
	<script type="text/javascript">
	  var hikes = <%#=@hikes_json%>
	</script>
 -->

</div>

<%= javascript_include_tag 'hikes/index.js' %>
<%= javascript_include_tag 'hikes/hikes_search.js' %>

