<div class="fixed_map">
<div id="map"></div>
</div>

<%= render 'search' %>

<table id='all_hikes'>
  <%= render @hikes %>
</table>
<table id='searched_hikes'>
  <tbody>
  </tbody>
</table>


<%#= paginate(@hikes) %>


<script type="text/javascript">
  var hikes = <%=@hikes_json%>
</script>



<%= javascript_include_tag 'hikes/index.js' %>

