<%= render "layouts/navbar" %>

<div class="row">
	<section class="hero">
		<div class="slogan">
			<h1>I haven't been everywhere, but it's on my list.</h1>
			<p>- Susan Sontag</p>
		</div>
	</section>
</div>

<div class="container-fluid">
	<div class="row">
		<a href="#" class="col-xs-4 main-btn">
			<h2>Explore</h2>
		</a>
		<a href="#" class="col-xs-4 main-btn">
			<h2>Take Action</h2>
		</a>
		<a href="#" class="col-xs-4 main-btn">
			<h2>Get Started</h2>
		</a>
	</div>
</div>