// Place all the styles related to the hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fixed_map{
  height:500px;
  width:100%;
}

#map{
  height:100%
}

.gm-style-mtc {
  display: none;
}
//
 // Colour customisation
 //
 // `!default` allows overriding variables that are defined before @import
 //

.hike-row {
	cursor: pointer;
	a {
		&:hover {
			text-decoration: none;
		}
	}
}