// Place all the styles related to the hikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$easy-hike: #449d44;
$medium-hike: #D79C08;
$hard-hike: #D75708;
$extreme-hike: #B10000;

.btn {
	transition: 0.5s all;
	margin: 10px 0;
}

.fixed_map{
  height:550px;
  width:100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#map{
  height:100%
}

.search-wrapper {
	background-color: $colour-primary;
	h3 {
		color: white;
		padding-left: 15px;
	}
}

#searched_hikes {
	margin-top: 15px;
	.hike-row {
		transition: 0.5s all;
		cursor: pointer;
		.difficulty {
			font-weight: 600;
		}
		&.easy-difficulty {
			.difficulty {
				color: $easy-hike;
			}
		}
		&.medium-difficulty {
			.difficulty {
				color: $medium-hike;
			}
		}
		&.hard-difficulty {
			.difficulty {
				color: $hard-hike;
			}
		}
		&.extreme-difficulty {
			.difficulty {
				color: $extreme-hike;
			}
		}
		&:hover {
			color: white;
			background-color: $colour-primary;
			a {
				color: white;
			}
			.difficulty {
				color: white;
			}
		}
		a {
			color: black;
			&:hover {
				text-decoration: none;
			}
		}
	}
}