#navbar-spacer {
	height: 50px;
	background-color: #363432;
}

#navbar.navbar-default {
	color: #white;
	border: none;
	background-color: #363432;
	margin-bottom: 0;
	.navbar-toggle {
		border-color: #777;
	}
	img {
		position: absolute;
		top: 0px;
	}
	.navbar-collapse {
		border: none;
	}
	.navbar-nav > li > a {
		color: #363432;
		transition: .5s all;
		&:hover {
			color: white;
		}
	}
	a {
		color: #363432;
		transition: .5s all;
		&:hover {
			color: white;
		}
	}
	.navbar-nav > .navbar-btn {
		background-color: #363432;
	}
	.dropdown {
		.dropdown-menu {
			border: none;
			border-radius: 0;
			background-color: #363432;
			a {
				background-color: rgba(255,255,255,0);
			}
			.divider {
				background-color: #217B21;
			}
		}
	}
	.navbar-right {
		.navbar-btn {
			margin: 0;
			a {
				background-color: rgba(255,255,255,0);
				&:hover {
					color: white;
					background-color: #449d44;
				}
			}
		}
	}
}
