.fixed_graph {
  width: 100%;
}

.title-header{
  width: 100%;
  text-align: center;
}

.container-fluid form.button_to{
  display:inline-block;
}

.twitter-hashtag-button{
  display:inline-block;
}

#fb-root{
  display:inline-block;
}

.fb-share-button{
  top:-5px;
}

div.row .col-xs-6 .button_to{
  display: inline-block;
}

.hike_glyphicon_descriptions{
  font-size:1.3em;
}

#hike-title{
  font-size:4 em;
}

span.fe_forecast_link {
  display: none;
}
