.fixed_graph {
  width: 100%;
}

.title-header{
  width: 100%;
  text-align: center;
}

.container-fluid form.button_to{
  display:inline-block;
}

.twitter-hashtag-button{
  display:inline-block;
}

#fb-root{
  display:inline-block;
}

.fb-share-button{
  top:-5px;
} 
