// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#profile-page {
  background-image: url('mountainbckgrnd.jpg');
  height: 100%;
}

#profile-header {
}

#user-avatar {
  /*background-color: aqua;*/
}

#user-name {
  /*background-color: beige;*/
}

#hikes-todo {
  background-color: lightpink;
}

#hikes-completed {
  background-color: lightgreen;
}

#hikes-favourited {
  background-color: lightblue;
}

#reviews-by-user {
  background-color: beige;
}