// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ 
// #4E6766

body {
	font-family: 'Raleway'
}

.navbar-default {
	border: none;
	background-color: white;
	opacity: 0.1;
	margin-bottom: 0;
	.navbar-toggle {
		border-color: #777;
	}
}

.navbar-collapse {
	border: none;
}

.hero {
	background-image: url('/media/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 440px;
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
	.slogan {
		color: white;
	}
}
a {
	
}
.main-btn-wrapper {
	background-color: #449d44;
	.main-btn {
		color: #fff;
		text-align: center;
		// border-left: 1px solid #5cb85c;
		transition: .5s all;
		padding: 15px;
		&:hover {
			color: #085808;
			text-decoration: none;
			background-color: #71BE71;
		}
		&:focus {
			color: #085808;
			text-decoration: none;
		}
		.main-btn-txt {
			// margin-top: 5px;
			text-align: left;
		}
	}
}
