body {
	font-family: 'Raleway'
}

.hero {
	background-image: url('/media/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 535px;
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
	.slogan {
		color: white;
	}
}

.main-btn-wrapper {
	background-color: $colour-primary;
	.main-btn {
		color: $colour-bright;
		text-align: center;
		transition: .5s all;
		padding: 15px;
		.row {
			margin-left: 10%;
		}
		&:hover {
			color: $colour-dark;
			text-decoration: none;
			background-color: $colour-secondary;
		}
		&:focus {
			color: $colour-dark;
			text-decoration: none;
			background-color: $colour-secondary;
		}
		.main-btn-txt {
			text-align: left;
		}
	}
}

#search-hike-name {
	border-top: 1px solid $colour-secondary;
	background-color: $colour-primary;
	padding-top: 15px;
	.twitter-typeahead {
		width: 100%;
	}
	.tt-menu.tt-open {
		@extend .dropdown-menu;
		width: 100%;
		.tt-suggestion {
			padding: 6px 12px;
			&.disabled {
				color: #818a91;
			}
		}
		.tt-selectable {
			&:hover {
				color: $colour-bright;
				background-color: $colour-primary;
				cursor: pointer;
			}
		}
	}
}

.img-circle {
	padding-top: 20px;
	transition: transform 0.2s ease-in-out;
	&:hover {
		transform: scale(1.2);
	}
	img {
		max-height: 100%;
		max-width: 100%;
	}
}

.feature-wrapper {
	margin: 40px;
	.feature-title {
		margin: 0;
	}
}

.testimonials {
	color: gray;
	.testimonial-title {
		color: black;
	}
}

