<div class="container-fluid footer-container">
	<footer class="container">
		<div class="spacer"></div>
		<hr/>
		<%= image_tag("logo-white.png", alt: "Take a Hike", class: "footer-logo") %>
	  <small>
	    <p>© 2016 Take a Hike, Inc.</p>
	  </small>
	</footer>
</div>
